@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@500;700&family=Open+Sans:ital@1&family=Poppins&family=Roboto:wght@500&family=Tiro+Devanagari+Marathi:ital@1&display=swap");

/* ... custom Properties ...*/
:root {
  --primary-color: #6070ff;
  --secondary-color: #505f79;
  --background-color: #ffffff;
  --last-btn-color: #396df2;
  --p-text-color: #344563;
  --BED-color: #7a869a;
  --l-connect: #7f8cff;
}

/* ... Css Resets ...*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.margin-top {
  margin-top: 1rem;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}

i {
  font-size: 2rem;
  color: var(--secondary-color);
}

img {
  height: 1.7rem;
}

a {
  text-decoration: none;
}

/* ... Utility classes  ...*/
.flex {
  display: flex;
}

/* ... header section ... */
.header-headline {
  background-color: var(--background-color);
  border-bottom-left-radius: 100px;
}

.header {
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  position: fixed;
  background-color: var(--background-color);
  z-index: 500;
}

.logo {
  font-weight: 700;
  font-size: 23px;
  line-height: 20px;
}

.hamburger-menu {
  flex-direction: column;
  margin-top: 6px;
}

.line {
  height: 2px;
  width: 1.3rem;
  background-color: var(--primary-color);
  border-radius: 5rem;
}

.line:not(last-child) {
  margin-bottom: 4px;
}

/* Headline section */
.headline-container {
  width: 100%;
  height: 100vh;
  align-items: center;
  position: relative;
  background-image: url(asset/header-shapes\ mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 2% -20%;
}

.headline {
  position: absolute;
  top: 20%;
  left: 3%;
}

.headline-info {
  width: 100%;
  max-width: 360px;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  color: #172b4d;
}

p {
  height: 146px;
}

h3 {
  color: var(--l-connect);
}

.connect {
  flex-direction: column;
  width: 200px;
  margin-bottom: 136px;
}

.icons {
  flex-direction: row;
  color: var(--secondary-color);
  justify-content: space-between;
  align-items: flex-end;
}
