@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@500;700&family=Open+Sans:ital@1&family=Poppins&family=Roboto:wght@500&family=Tiro+Devanagari+Marathi:ital@1&display=swap");

/* $-custom Properties-$ */
:root {
  --primary-color: #6070ff;
  --secondary-color: #505f79;
  --background-color: #fff;
  --last-btn-color: #396df2;
  --p-text-color: #344563;
  --BED-color: #7a869a;
  --l-connect: #7f8cff;
}

/* scroll-bar */
html {
  scroll-behavior: smooth;
}

/* $-width-$ */
html::-webkit-scrollbar {
  width: 10px;
}

/* $-Track-$ */
html::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

/* $-Handle-$ */
html::-webkit-scrollbar-thumb {
  background-color: var(--BED-color);
  border-radius: 8px;
}

/* $-Handle on hover-$ */
html::-webkit-scrollbar-thumb:hover {
  background-color: var(--last-btn-color);
}

/* $-Css Resets-$ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.margin-top {
  margin-top: 1rem;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}

.overflow {
  overflow: hidden;
}

i {
  font-size: 2rem;
  color: var(--secondary-color);
}

img {
  height: 1.71rem;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  max-width: 24rem;
}

a {
  text-decoration: none;
}

a i:hover {
  animation-delay: 2s;
  scale: 1.5;
  transition: all 300ms ease;
}

a img:hover {
  animation-delay: 2s;
  scale: 1.5;
  transition: all 300ms ease;
}

button:focus {
  outline: 2px solid var(--primary-color);
}

.wf {
  width: 100%;
}

/* $-Utility classes-$ */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  color: #172b4d;
}

h2 {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: #172b4d;
}

h3 {
  color: var(--l-connect);
  margin-bottom: 10px;
}

/* $-header section-$ */
.header-headline {
  background-color: var(--background-color);
  border-bottom-left-radius: 100px;
  position: relative;
  overflow: hidden;
}

.header {
  position: fixed;
  background-color: var(--background-color);
  z-index: 500;
  justify-content: center;
}

.header-content {
  justify-content: space-between;
  position: relative;
  height: 2.2em;
  align-items: center;
}

.logo {
  font-weight: 700;
  padding: 0 1rem;
  font-size: 23px;
  line-height: 20px;
  color: #0018f1;
  animation: move-right 2s ease-in-out;
}

.logo:hover {
  /* animation: movedown 300ms ease-in; */
  animation-delay: 2s;
  transform: scaleX(1.2);
  transition: all 0.3s ease-in-out;
  color: var(--primary-color);
}

.logo:focus {
  color: #0018f1;
  outline: 2px solid var(--primary-color);
}

@keyframes move-right {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  50% {
    transform: translateX(25px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes move-left {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  50% {
    transform: translateX(-25px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
  }
}

.navbar {
  flex-direction: row-reverse;
  animation: move-left 2s ease-in;
}

.nav-menu {
  display: none;
}

@media screen and (max-width: 766px) {
  .nav-menu {
    display: block;
    position: fixed;
    flex-direction: column;
    height: 100vh;
    width: 70%;
    top: 0;
    right: -150%;
    backdrop-filter: blur(6px);
    background-color: #0048ff78;
    transition: 0.7s ease-in-out;
  }

  .nav-menu.slide {
    right: 0;
    bottom: 0;
  }

  .item {
    position: relative;
    top: 6rem;
    margin: 0.5rem 1rem;
    color: var(--background-color);
    border-bottom: 1px solid;
  }

  a {
    color: var(--background-color);
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .hamburger-menu.slide .line:nth-of-type(1) {
    transform: rotate(45deg) translateX(4.2px) translateY(4.2px);
    background-color: var(--background-color);
  }

  .hamburger-menu.slide .line:nth-of-type(2) {
    opacity: 0;
  }

  .hamburger-menu.slide .line:nth-of-type(3) {
    transform: rotate(-45deg) translateX(4.2px) translateY(-4.2px);
    background-color: var(--background-color);
  }
}

.item a:hover {
  animation-delay: 2s;
  scale: 1.2;
  transition: all 300ms ease;
}

.item {
  margin-right: 1rem;
}

.hamburger-menu {
  flex-direction: column;
  background: transparent;
  padding: 2px 3px;
  z-index: 100;
  margin: 0 1rem;
  border-radius: 4px;
}

.line {
  height: 2px;
  width: 1.3rem;
  background-color: #0018f1;
  border-radius: 5rem;
  margin: 2px 0;
  transition: 1s ease;
}

@media screen and (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .header-content {
    width: 83%;
  }
}

/* $-Headline section-$ */
.headline-container {
  justify-content: center;
  height: 47rem;
}

.headline {
  position: relative;
  top: 18%;
  flex-direction: column;
  z-index: 20;
}

.headline-info {
  padding-left: 1.2rem;
  margin-top: 3.5rem;
  width: 96%;
  max-width: 600px;
  animation: appear 1s ease-in-out;
}

.connect {
  width: 200px;
  flex-direction: column;
}

.icons {
  flex-direction: row;
  color: var(--secondary-color);
  justify-content: space-between;
  margin-top: 14px;
  margin-bottom: 16px;
}

.illustration {
  /* stylelint-disable-next-line csstree/validator */
  width: -webkit-fill-available;
  position: absolute;
  content: url(asset/header-shapes-mobile.png);
  top: 10%;
}

@media screen and (min-width: 768px) {
  .illustration {
    background-image: none;
    content: url(asset/Header-laptop.png);
    position: absolute;
    width: 85%;
    top: 6%;
    left: 10%;
  }

  .headline-container {
    height: 100vh;
    width: 100vw;
    justify-content: unset;
  }

  .headline {
    left: 10%;
    width: 80%;
  }

  .headline-info {
    margin-top: 6rem;
    width: 65%;
    max-width: unset;
  }
}

/* $-Work-section-$ */
.work-section {
  margin: 114px 0 26px 0;
  padding: 0 2em;
  grid-template-columns: 1fr;
  flex-direction: column;
  align-items: center;
}

.work-section h3 {
  color: black;
  font-size: 1.5em;
}

.work-section-cards {
  background-color: var(--background-color);
  width: fit-content;
  margin-bottom: 88px;
  padding: 1rem;
  border-radius: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.work-section-cards:nth-child(2) {
  flex-direction: row-reverse;
}

.work-section-cards:nth-child(4) {
  flex-direction: row-reverse;
}

.work-section-cards:hover {
  border: 1px solid #a7aeff;
  filter: drop-shadow(2px 2px 4px);
  transition: all 700ms ease-in;
}

.flip {
  flex-direction: row-reverse;
}

.cards-image {
  margin: 1rem;
  justify-content: center;
}

.cards-image:hover {
  filter: drop-shadow(2px 2px 4px);
  transition: all 300ms ease-out;
}

.work-section-content {
  max-width: 25rem;
  margin: 1rem;
}

.topic {
  font-size: 13px;
  font-weight: 700;
  color: var(--p-text-color);
  margin-bottom: 1rem;
}

.summary {
  margin-bottom: 1rem;
}

.grey {
  font-size: 12px;
  color: var(--BED-color);
  width: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0 4px;
}

.buttons {
  flex-direction: column;
}

.btn-grp {
  margin-bottom: 25px;
  row-gap: 3px;
}

.btn-grp button {
  border-radius: 10px;
  border: none;
  padding: 0.5em 0.9em;
  background-color: #e7e7fc;
  color: #0018f1;
  margin-right: 0.5em;
}

.btn-grp button:hover {
  scale: 1.1;
  transition: all 300ms ease;
}

.btn-grp:focus {
  color: #0018f1;
}

.ruby {
  display: none;
}

.last-btn {
  border-radius: 5px;
  border: 1px solid var(--last-btn-color);
  padding: 1em;
  background-color: var(--background-color);
  color: var(--last-btn-color);
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.last-btn:active {
  background-color: #2230d2;
  color: var(--background-color);
  border: 1px solid var(--background-color);
}

.last-btn:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: 1px solid var(--background-color);
  transition: all 400ms ease-in;
}

/* -- modal -- */
.modal-container {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  background-color: #27508c4e;
  backdrop-filter: blur(6px);
  transition: 0.7s;
  opacity: 0;
  pointer-events: none;
}

.modal-container.open {
  opacity: 1;
  pointer-events: visible;
}

.modal {
  position: relative;
  width: 80%;
  height: 90%;
  padding: 1em;
  background-color: var(--background-color);
  border-radius: 8px;
  line-height: 1.2em;
  margin: 2em;
  overflow-y: scroll;
}

.modal.active {
  animation: scale-up-ver-center 0.7s;
}

.modal::-webkit-scrollbar {
  display: none;
}

.paratext {
  font-weight: 700;
}

.para-length {
  font-size: 11px;
  line-height: 0.9rem;
  letter-spacing: 1px;
  width: 90%;
  text-justify: auto;
}

.modal .cards-image {
  margin: 1em 0;
  justify-content: flex-start;
}

.modal-img {
  width: 80%;
  height: auto;
  min-height: 100%;
}

.btn-link {
  justify-content: space-between;
}

.stroke {
  height: 1px;
  background-color: rgb(227, 227, 227);
  margin: 1rem 0;
}

.end-btn {
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--last-btn-color);
  padding: 1em;
  background-color: var(--background-color);
  color: var(--last-btn-color);
  font-weight: 700;
  font-size: 0.8rem;
}

.alink {
  align-items: center;
  background-color: var(--background-color);
  color: var(--last-btn-color);
  font-weight: 700;
  font-size: 0.8rem;
}

.hub {
  font-size: 1.5rem;
  margin: auto 2px;
  color: var(--last-btn-color);
}

.bx-log-out-circle {
  transform: rotate(135deg);
}

.bx-x {
  position: absolute;
  top: 1%;
  right: 1%;
}

.modal-info {
  flex-direction: column;
}

.btn-family {
  flex-direction: column;
}

.fst-btn-grp {
  flex-direction: column;
}

/* stylelint-disable-next-line no-descending-specificity */
.fst-btn-grp button {
  border-radius: 10px;
  border: none;
  padding: 0.5em 0.9em;
  background-color: #e7e7fc;
  color: #0018f1;
  margin: 0.8em 0.5em 0 0;
}

.fst-btn-grp button:hover {
  scale: 1.1;
  transition: all 300ms ease;
}

.fst-btn-grp:focus {
  color: #0018f1;
}

.desktop {
  display: none;
}

@media screen and (min-width: 760px) {
  .modal {
    width: max-content;
  }

  .modal-img {
    max-width: 40rem;
    height: 20rem;
    min-height: 100%;
  }

  .modal-info {
    flex-direction: row;
  }

  .para-length {
    width: 16rem;
    max-width: 100%;
    margin-right: 0.5rem;
  }

  .btn-family {
    flex-direction: column;
    width: max-content;
    max-width: 100%;
  }

  .end-btn {
    padding: 0.5em;
  }

  .desktop {
    display: block;
  }
}

@keyframes scale-up-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }

  50% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes scale-down-ver-center {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  50% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

/* $-About-me-$ */
.About-me {
  background-color: var(--background-color);
  border-top-right-radius: 100px;
  padding: 7em 1.5em;
  flex-direction: column;
  align-items: center;
}

.about-me-content {
  width: 80%;
}

.about-me-info {
  width: 90%;
}

.about-me-content h2 {
  margin-top: 1rem;
  width: 5ch;
  font-weight: 700;
  font-size: 3.3rem;
}

.languages {
  max-width: 34rem;
}

.language-text {
  justify-content: space-between;
  padding-right: 3em;
  margin: 2rem 0;
}

.dropdown-menu {
  background: transparent;
}

.code-languages {
  flex-wrap: wrap;
}

.code-languages li {
  align-items: center;
  background-color: #f7f7f9;
  margin: 1rem;
  padding: 1rem;
  height: 5rem;
  font-weight: 700;
}

.code-languages li:hover {
  animation-delay: 1s;
  scale: 1.1;
  transition: all 300ms ease;
  border-radius: 10px;
}

.code-languages .cl {
  height: 3.7rem;
  margin-right: 1rem;
}

.fw-skill {
  flex-direction: column;
}

.fw-skill .line {
  width: 100%;
  background-color: #dfe1e6;
}

@media screen and (min-width: 768px) {
  .code-languages li {
    width: 7rem;
    height: 7rem;
    padding: 8px;
    margin: 0.6rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 1rem;
  }

  .About-me {
    flex-direction: row;
    padding: 4em;
  }
}

/* Contact-me */
.contact-me {
  background-color: var(--background-color);
  padding-top: 4rem;
}

.contact-me-background {
  background-color: var(--primary-color);
  border-top-left-radius: 100px;
  background-image: url(asset/mobile2x.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 4rem;
}

.blue {
  position: relative;
  text-align: center;
  padding: 0 1em 1em 1em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 32rem;
  z-index: 400;
}

.blue h2 {
  color: var(--background-color);
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.blue p {
  line-height: 1.4rem;
  color: var(--background-color);
  margin: 1rem 0;
}

.form {
  position: relative;
  flex-direction: column;
  max-width: 28rem;
}

.form .last-btn {
  max-width: 120px;
}

.input {
  flex-direction: column;
}

input {
  height: 3em;
  border-radius: 10px;
  padding: 0 1em;
  margin-bottom: 1.3rem;
}

input:invalid {
  outline: none;
}

textarea {
  height: 10em;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1.6rem;
}

textarea:focus {
  outline: none;
  border: 3px solid var(--BED-color);
}

.form input:valid,
.form textarea:valid {
  outline: none;
  border-bottom: 1px solid rgba(5, 197, 5, 0.596);
}

.form textarea::placeholder {
  font-size: 1rem;
  color: #979493;
  font-family: inherit;
}

@media screen and (min-width: 768px) {
  .contact-me {
    position: relative;
  }

  .contact-me-background {
    background-image: none;
  }

  .blue {
    height: 83vh;
  }

  .illustration2 {
    content: url(asset/contact-form-background.png);
    position: absolute;
    width: 77%;
    top: 13%;
    left: 12%;
  }

  .form .last-btn {
    align-self: center;
  }
}

.error {
  position: absolute;
  bottom: 16%;
  height: 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: start;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.744);
  color: rgb(210, 9, 9);
  width: 100%;
  border-radius: 10px;
  display: none;
}

.error.msg {
  display: block;
}
